<style type="text/css">

	tr:hover{
        background: #EBEBEB;
    }

</style>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Info</h3></div>
            <div class="panel-body">
                <p><b>Hier zie je hoeveel materiaal je tot je beschikking hebt. Materiaal wordt gereserveerd als het is gebruikt in een project dat nog niet in de wachtrij staat.</b> Als je een project afbreekt krijg je het materiaal terug</p>
            </div>

            <ul class="list-group">
                <li class="list-group-item"><b>Beschikbare materiaal:</b> <%= user.materialAmount %> gram</li>
                <li class="list-group-item"><b>Gereserveerd materiaal:</b> <%= user.materialAmountReserved %> gram</li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div id="attention-table-panel" style="display: none" class="panel panel-danger">
            <div class="panel-heading">Aandacht vereist</div>
            <table id="attention-table" class="table" data-link="row">
                <tr>
                    <td><b>Naam</b></td>
                    <td><b>Type</b></td>
                    <td style="width: 50%"><b>Info</b></td>
                    <td><b>snelle acties</b></td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Nog niet ingestuurd</div>
            <table id="notCommitted-table" class="table" data-link="row"></table>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Print opdrachten</div>
            <table id="normal-table" class="table" data-link="row"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Table attention = rejected
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/21",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var rejectedPrints = $.parseJSON(data);
        drawTableRejectedPrints(rejectedPrints);
    });

    function drawTableRejectedPrints (rejectedPrints) {
        var table = document.getElementById('attention-table');
        for (var i = 0; i < Object.keys(rejectedPrints).length; i++) {
            $("#attention-table-panel").show();

            var row = table.insertRow(1);
            row.insertCell(0).innerHTML = '<a href="/prints/' + rejectedPrints[i].id + '">' + rejectedPrints[i].name + '</a>';
            row.insertCell(1).innerHTML = 'Afgewezen';
            row.insertCell(2).innerHTML = rejectedPrints[i].rejectingNotice;
            row.insertCell(3).innerHTML = '<a href="/prints/' +  rejectedPrints[i].id + '">instellingen wijzigen</a><br><a href="">Verwijderen</a>';
        }
    }

    //Table attention = failed
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/41",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var failedPrints = $.parseJSON(data);
        drawTablefailedPrints(failedPrints);
    });

    function drawTablefailedPrints (failedPrints) {
        var table = document.getElementById('attention-table');
        for (var i = 0; i < Object.keys(failedPrints).length; i++) {
            $("#attention-table-panel").show();
            var row = table.insertRow(1);
            row.insertCell(0).innerHTML = '<a href="/prints/' + failedPrints[i].id + '">' + failedPrints[i].name + '</a>';
            row.insertCell(1).innerHTML = 'Mislukt';
            row.insertCell(2).innerHTML = 'Het printing van je project is mislukt. Probeer het later opnieuw (eventueel met nieuwe instellingen of aangepast ontwerp)';
            row.insertCell(3).innerHTML = '<a href="/prints/' +  failedPrints[i].id + '">instellingen wijzigen</a><br><a href="">Archieveren</a>';
        }
    }

    //Table NotCommitted
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/0",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var notCommittedPrints = $.parseJSON(data);
        drawTableNotCommitted(notCommittedPrints);
    });

    function drawTableNotCommitted (notCommittedPrints) {
		var table = document.getElementById('notCommitted-table');
		var row0 = table.insertRow(0);
		row0.insertCell(0).innerHTML = '<b>Naam</b>';
		row0.insertCell(1).innerHTML = '<b>Verwachte tijdsduur</b>';
        row0.insertCell(2).innerHTML = '<b>Vereist matriaal</b>';
		row0.insertCell(3).innerHTML = '<b> Snelle acties</b>';
		for (var i = 0; i < Object.keys(notCommittedPrints).length; i++) {
			var row = table.insertRow(1);
			row.insertCell(0).innerHTML = '<a href="/prints/' + notCommittedPrints[i].id + '">' + notCommittedPrints[i].name + '</a>';
			row.insertCell(1).innerHTML = notCommittedPrints[i].estimatedPrintTime + ' minuten';
            row.insertCell(2).innerHTML = notCommittedPrints[i].materialAmount + ' gram';

            if(notCommittedPrints[i].materialAmount > 0){
                row.insertCell(3).innerHTML = '<a href="">Indienden</a>';
            }else{
                row.insertCell(3).innerHTML = '<a href="/prints/' +  notCommittedPrints[i].id + '">instellingen wijzigen</a>';
            }
		}
	}

    //Table Normal
    $.ajax({
        dataTypeL: "json",
        url: "/backend/prints/list/",
        beforeSend: function( xhr ) {
            xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
    }).done(function (data) {
        var normalPrints = $.parseJSON(data);
        drawTableNormal(normalPrints);
    });

    function drawTableNormal (normalPrints) {
		var table = document.getElementById('normal-table');
		var row0 = table.insertRow(0);
		row0.insertCell(0).innerHTML = '<b>Naam</b>';
        row0.insertCell(1).innerHTML = '<b>Status</b>';
        row0.insertCell(2).innerHTML = '<b>Verwachte tijdsduur</b>';
		row0.insertCell(3).innerHTML = '<b>Vereist matriaal</b>';
		row0.insertCell(4).innerHTML = '<b>Snelle acties</b>';
		for (var i = 0; i < Object.keys(normalPrints).length; i++) {
			var row = table.insertRow(1);
			row.insertCell(0).innerHTML = '<a href="/prints/' + normalPrints[i].id + '">' + normalPrints[i].name + '</a>';

            if(normalPrints[i].status == 1){
                row.insertCell(1).innerHTML = '<b style="color: grey">In afwachting</b>';
            }else if(normalPrints[i].status == 2){
                row.insertCell(1).innerHTML = '<b style="color: orange">geaccepteerd | In wachtrij</b>';
            }else if(normalPrints[i].status == 3){
                row.insertCell(1).innerHTML = '<b style="color: blue">Wordt geprint</b>';
            }else if(normalPrints[i].status == 4){
                row.insertCell(1).innerHTML = '<b style="color: green">Klaar</b>';
            }

            row.insertCell(2).innerHTML = normalPrints[i].estimatedPrintTime + ' minuten';
            row.insertCell(3).innerHTML = normalPrints[i].materialAmount + ' gram';

            if(normalPrints[i].status == 1 || normalPrints[i].status == 2){
                row.insertCell(4).innerHTML = '<a href="">Verwijderen</a>';
            }else if(normalPrints[i].status == 4){
                row.insertCell(4).innerHTML = '<a href="">Archieveren</a>';
            }
		}
	}
</script>
