<h3>Upload 3D model</h3>
<br>
<form id="print-add-form" method="post" action="/backend/prints/add" enctype="multipart/form-data">
    <table>
        <tr>
			<th><label>Project naam:</label></th>
			<th><input name="name" type='text'></input></th>
		</tr>
        <tr>
            <th><label>STL bestand:</label></th>
            <th><input name="stlFile" type="file" accepts=".stl"></input></th>
        </tr>
        <tr>
            <th><br><h4>Cura print parameters</h4></th>
        </tr>
        <tr>
            <th><label>Standard profilen:</label></th>
            <th>
                <select id="profileSelect">
                </select>
            </th>
        </tr>
        <tr>
            <th><label>Layer Height:</label></th>
            <th><input name="P_layerHeight" type="number" step="any" min="0" value="0.2"></input></th>
        </tr>
        <tr>
            <th><label>Shell Thickness:</label></th>
            <th><input name="P_shellThickness" type="number" step="any" min="0" value="1"></input></th>
        </tr>
        <tr>
            <th><label>Bottom / Top Thickness:</label></th>
            <th><input name="P_bottomTopThickness" type="number" step="any" min="0" value="0.8"></input></th>
        </tr>
        <tr>
            <th><label>Fill Density:</label></th>
            <th><input name="P_fillDensity" type="number" step="any" min="0" value="20"></input></th>
        </tr>
        <tr>
            <th><label>Print Speed:</label></th>
            <th><input name="P_printSpeed" type="number" step="any" min="0" value="100"></input></th>
        </tr>
        <tr>
            <th><label>Support Type:</label></th>
            <th><select name="P_support">
                <option value="0" selected>None</option>
                <option value="1">Touching Buildplate</option>
                <option value="2">Everywhere</option>
            </select></th>
        </tr>
        <tr>
            <th><label>Platform Adhesion Type:</label></th>
            <th><select name="P_platformAdhesionType">
                <option value="0">None</option>
                <option value="1" selected>Brim</option>
                <option value="2">Raft</option>
            </select></th>
        </tr>
        <tr>
            <th><br><input type="submit" value="Upload"></th>
        </tr>
    </table>
</form>

<div class="panel panel-primary popup" id="waitForSliceWindow">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center">Verwerken!
            <i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
        </h3>
    </div>
    <div class="panel-body">
        Je project wordt momenteel verwerkt. Een moment geduld alstublieft.
    </div>
</div>

<script type="text/javascript">
    var curaProfiles = [
        {
            'name': "prototype - korter, goedkoper - redelijk stevig",
            'parameters': {
                'P_layerHeight': 0.2,
                'P_shellThickness': 1,
                'P_bottomTopThickness': 0.8,
                'P_fillDensity': 20,
                'P_printSpeed': 125
            }
        },
        {
            'name': "Extra stevig - langer, duurder - Extra stevig",
            'parameters': {
                'P_layerHeight': 0.1,
                'P_shellThickness': 2,
                'P_bottomTopThickness': 1.0,
                'P_fillDensity': 100,
                'P_printSpeed': 100
            }
        },
    ];

    $.each(curaProfiles, function(key, value) {
        $('#profileSelect').append($("<option></option>")
            .attr("value", key)
            .text(value.name));
    });

    $('#profileSelect').change(function(){
        var selected = $(this).val();

        $.each(curaProfiles[selected].parameters, function(key, value){
            $("input[name='" + key + "']").attr("value", value);
        });
    });

    $('input[value="Upload"]').click(function(){
        $('#blackOverlay').css('display', 'block');
        $('#waitForSliceWindow').css('display', 'block');
    });

</script>
